.order-list-page-container{
    display: flex;
    .profile-page-header{
        display: flex;
        flex-direction: column;
    }
    .order-list-page-content{
        --background: linear-gradient(180deg, #0F0526, #125B8C);
        .order-list-spinner{
            text-align: center;
            color: white;
        }
    }
    .order-list-toolbar-logo-container{
        display: flex;
        flex-direction: row;
        justify-self: center;
        align-items: center;
        text-align: center;
        .order-list-toolbar-logo{
            height: 100px;
            width: 100%;
            margin: 10px;
        }
    }
 
}
.order-list-filter{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    padding-top: 20px;
    .order-list-search{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }
}
ion-toolbar .sc-ion-searchbar-ios-h{
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 52px;
}
.order-list-datetime{
    display: flex;
    max-width: 100%;
    background-color: #ffffff00;
    padding-top:20px;
}