.order-list-page-container{
    display: flex;
    .profile-page-header{
        display: flex;
        flex-direction: column;
    }
    .order-list-page-content{
        --background: linear-gradient(180deg, #0F0526, #125B8C);
        .order-list-spinner{
            text-align: center;
            color: white;
        }
    }
    .order-list-toolbar-logo-container{
        display: flex;
        flex-direction: row;
        justify-self: center;
        align-items: center;
        text-align: center;
        .order-list-toolbar-logo{
            height: 100px;
            margin: 10px;
            display: block;
            height: 100%;
            -o-object-fit: inherit;
            object-fit: fill;
            -o-object-position: inherit;
            object-position: inherit;
        }
    }
    .web{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 120px;
        padding-bottom: 20px;
      }
 
}
.order-list-filter{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    padding-top: 20px;
    .order-list-search{
        display: flex;
        flex-direction: row;
        justify-content: center;
        .desktop{
            width: 50%;
        }
        .mobile{
            width: 100%;
        }
    }
}
ion-toolbar .sc-ion-searchbar-ios-h{
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 52px;
}
.react-calendar {
    width: 100% !important;
}
.order-list-datetime{
    display: flex;
    max-width: 100%;
    background-color: #ffffff00;
    padding-top:20px;
}
.orderlist-segment{
    width: 100%;
}
.order-list-container-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.order-list-search-container{
    display: flex;
    flex-direction: row;
    align-items: center;
   
    justify-content: center;
  
}