.profile-page-container{
    display: flex;
    .profile-page-header{
        display: flex;
        flex-direction: column;
    }
    .profile-page-content{
        --background: linear-gradient(180deg, #0F0526, #125B8C);
        .profile-spinner{
            text-align: center;
            color: white;
        }
    }
    .profile-toolbar-logo-container{
        display: flex;
        flex-direction: row;
        justify-self: center;
        align-items: center;
        text-align: center;
        .profile-toolbar-logo{
            height: 100px;
            margin: 10px;
            display: block;
            height: 100%;
            -o-object-fit: inherit;
            object-fit: fill;
            -o-object-position: inherit;
            object-position: inherit;
        }
        .web{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 120px;
            padding-bottom: 20px;
          }
    }
 
}

    .profile-page-button-container{
        display: flex;
        flex: 1;
        height: 100%;
        padding: 10px;
    }
