.manage-product-input-container{
    padding: 10px;
}

ion-input.product-input {
    margin-top: 15px;
     width: 100%;
     --background: #fff;
     --color: #141414;
     --placeholder-color: #070707;
     --placeholder-opacity: 0.5;
     --padding-bottom: 0;
     --padding-end: 10px;
     --padding-start: 10px;
     --padding-top: 0;
     border: 2px solid #9fa3a6 !important;
     border-radius: 10px;
     --border-radius: 10px;
     --border-color: black;
     --border-style: solid;
     --border-width: 5px;
  }
  ion-input.product-input-qty {
    /* margin-top: 15px; */
    width: 100px;
    --background: #fff;
    --color: #141414;
    --placeholder-color: #070707;
    --placeholder-opacity: 0.5;
    --padding-bottom: 0;
    --padding-end: 10px;
    --padding-start: 10px;
    --padding-top: 10px;
    border: 2px solid #9fa3a6 !important;
    border-radius: 10px;
    --border-radius: 10px;
    --border-color: black;
    --border-style: solid;
    --border-width: 5px;
    text-align: center;
    padding: 5px;
    font-size: 14px;
  }
  .product-add-icon{
    padding-right: 10px;
  }
  .product-remove-icon{
    padding-left: 10px;
  }
.product-name-selected{
    width: 250px;
    max-width: 200px;
    pointer-events: none;
    font-size: 14px;
    font-family: 'Gotham-Light';
}