.home-page-container{
    .home-page-header{
        display: flex;
        flex-direction: column;
    }
    .home-page-content{
        /* --background: linear-gradient(180deg, #0F0526, #125B8C); */
        .home-spinner{
            text-align: center;
            color: white;
        }
    }
    .home-toolbar-logo-container{
        display: flex;
        flex-direction: row;
        justify-self: center;
        align-items: center;
        text-align: center;
        .home-toolbar-logo{
            height: 100px;
            margin: 10px;
            display: block;
            height: 100%;
            -o-object-fit: inherit;
            object-fit: fill;
            -o-object-position: inherit;
            object-position: inherit;
        }
        .web{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 120px;
            padding-bottom: 20px;
          }
    }
}
.tab-cart-content{
    --background: white;
}
.tab-cart-total{
    color: #FE3434;
    font-family: 'Gotham-Black';
    font-size: 24px;
}
.tab-cart-footer{
    display: flex;
    align-items: center;
    flex-direction: row;
  
}
.tab-cart-mobile{
    justify-content: space-between!important;
}
.tab-cart-desktop{
    justify-content: space-evenly!important;
}