.delivery-info-page-container{
    display: flex;
    .delivery-info-page-header{
        display: flex;
        flex-direction: column;
    }
    .delivery-info-page-content{
        --background: linear-gradient(180deg, #0F0526, #125B8C);
        .delivery-info-spinner{
            text-align: center;
            color: white;
        }
    }
    .delivery-info-toolbar-logo-container{
        display: flex;
        flex-direction: row;
        justify-self: center;
        align-items: center;
        text-align: center;
        .delivery-info-toolbar-logo{
            height: 100px;
            margin: 10px;
            display: block;
            height: 100%;
            -o-object-fit: inherit;
            object-fit: fill;
            -o-object-position: inherit;
            object-position: inherit;
        }
    }
 
}
.delivery-toolbar-logo-container{
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    text-align: center;
    .delivery-toolbar-logo{
        height: 100px;
        margin: 10px;
        display: block;
        height: 100%;
        -o-object-fit: inherit;
        object-fit: fill;
        -o-object-position: inherit;
        object-position: inherit;
    }
    .web{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 120px;
        padding-bottom: 20px;
      }
}
.delivery-info-content{
    --background:white;
}